/* globals.css */

/* Tailwind's default styles */
@import "tailwindcss";

/* Custom theme via @layer */
@layer base {
  :root {
    --light-brown: #F8EDE3;
    --dark-brown: #8D493A;
  }
}

/* You can now use the custom variable directly */
.light-brown {
  background-color: var(--light-brown);
}

.dark-brown {
  color: var(--dark-brown);
}